## 导入需要的Packages

In [10]:
import pandas as pd
import numpy as np
import os
import zipfile
from urllib import parse

## 确定A ，B两个闸口的坐标

In [11]:
# 港区闸口坐标 A 闸口：经度：东经114度15分13秒 纬度：北纬22度34分17秒
#              B 闸口：北纬 22 度 34 分 43 秒，东经 114 度 16 分 9 秒

print("A闸口经度："+str(114+13/60/60+15/60))
print("A闸口纬度："+str(22+17/60/60+34/60))

print("B闸口经度："+str(114+16/60+9/60/60))
print("B闸口纬度："+str(22+34/60+43/60/60))

a_long = 68555286/600000
a_lati = 13540796/600000
print(a_long, a_lati)

b_long = 68564118/600000
b_lati = 13545477/600000
print(b_long, b_lati)

A闸口经度：114.25361111111111
A闸口纬度：22.57138888888889
B闸口经度：114.26916666666666
B闸口纬度：22.578611111111112
114.25881 22.567993333333334
114.27353 22.575795

处理字符编码问题

In [12]:
quote_file = "./data/1_%D4%C1B0C1Q9.txt"
print(parse.unquote(quote_file, encoding='GB2312'))

./data/1_粤B0C1Q9.txt

## 根据给出的静态的货柜车数据，对货柜车进行分类

In [5]:
# 分类器
# 根据货柜车的类型，对所有的货柜车进行汇总
def class_track(static_track_path):
    '''
        static_track_path: 静态货柜车数据文件
    '''
    data2 = pd.read_excel(static_track_path, delimiter=":")
    abc = data2.groupby("车辆经营范围")
    # print(type(abc))
    # print(abc)
    for i,j in enumerate(list(abc)):
        j[1].to_excel("./classic/"+str(i)+".xlsx")
    print("class finished")

class_track("./static.xlsx")

class finished

## 确定货柜车到达闸口的时间，将这个时间差作为y

In [6]:
# azip = zipfile.ZipFile('track_20181008.zip')
# fp = open("abc.txt", 'w+')

# for i in azip.namelist():
#     fp.write(parse.unquote(i, encoding='GB2312')+'\n')
#    data = pd.read_table(i, delimiter=":", header=None, names=name)

    # 这里先不考虑车牌颜色的影响，可能像北京一样有车牌颜色限行的地方举措
    # if(file[0:1] == "1"):
    #    print("蓝")

## 确定一系列特征，构成X

In [15]:
name = ["longitude","latitude","GPS_time","GPS_speed","direction","event","waring_code","GPS_long","GPS_lati","altitude","Car_speed","miles","error_type","ISP_code","received_time"]

In [16]:
data_file = pd.read_table("test2_data.txt",delimiter=":", header=None, names=name)
data_file
# data_file.info()
# data_file.describe()
# print(type(data_file["longitude"]/600000))

# list_longitude = (data_file["longitude"]/600000).tolist()

#test2_long = open("test2_long.txt", 'w+')
# for i in list_longitude:
#    test2_long.write(str(i)+'\n')
    
# print("abc")
# data_file["latitude"]/600000
# file_data_long = open("data_long.txt", 'w+')
# for i in data_file["longitude"]/600000:
#     file_data_long.write(str(i)+'\n')

,longitude,latitude,GPS_time,GPS_speed,direction,event,waring_code,GPS_long,GPS_lati,altitude,Car_speed,miles,error_type,ISP_code,received_time
0,68564112,13546699,20181007/235513,0,319,4,NaN,68561217,13548408,0,0,0,0,44030005,20181008/000001
1,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000001
2,68564112,13546699,20181007/235513,0,319,4,NaN,68561217,13548408,0,0,0,0,44030005,20181008/000001
3,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000001
4,68564112,13546699,20181007/235513,0,319,4,NaN,68561217,13548408,0,0,0,0,44030005,20181008/000001
5,68564112,13546699,20181007/235513,0,319,4,NaN,68561217,13548408,0,0,0,0,44030005,20181008/000001
6,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000001
7,68564112,13546699,20181007/235513,0,319,4,NaN,68561217,13548408,0,0,0,0,44030005,20181008/000001
8,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000001
9,68564112,13546699,20181007/235513,0,319,4,NaN,68561217,13548408,0,0,0,0,44030005,20181008/000001
10,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000001
11,68564112,13546699,20181007/235513,0,319,4,NaN,68561217,13548408,0,0,0,0,44030005,20181008/000001
12,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000001
13,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000001
14,68564112,13546699,20181007/235513,0,319,4,NaN,68561217,13548408,0,0,0,0,44030005,20181008/000001
15,68564112,13546699,20181007/235513,0,319,4,NaN,68561217,13548408,0,0,0,0,44030005,20181008/000001
16,68564112,13546699,20181007/235513,0,319,4,NaN,68561217,13548408,0,0,0,0,44030005,20181008/000001
17,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000001
18,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000001
19,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000001
20,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000002
21,68564112,13546699,20181007/235513,0,319,4,NaN,68561217,13548408,0,0,0,0,44030005,20181008/000002
22,68564112,13546699,20181007/235513,0,319,4,NaN,68561217,13548408,0,0,0,0,44030005,20181008/000002
23,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000002
24,68564112,13546699,20181007/235513,0,319,4,NaN,68561217,13548408,0,0,0,0,44030005,20181008/000002
25,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000002
26,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000002
27,68564112,13546699,20181007/235513,0,319,4,NaN,68561217,13548408,0,0,0,0,44030005,20181008/000003
28,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000003
29,68561007,13548617,20181007/235943,30,294,4,NaN,68558112,13550328,0,30,0,0,44030005,20181008/000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419902,68099564,13654327,20181008/234809,0,11,5,NaN,68096379,13656009,0,0,0,0,44030005,20181008/235958
1419903,68099537,13654288,20181008/235950,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235958
1419904,68099537,13654288,20181008/235650,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419905,68099537,13654288,20181008/235819,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419906,68099546,13654297,20181008/235450,0,11,4,NaN,68096361,13655979,0,0,0,0,44030005,20181008/235959
1419907,68099564,13654327,20181008/234809,0,11,5,NaN,68096379,13656009,0,0,0,0,44030005,20181008/235959
1419908,68099537,13654288,20181008/235920,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419909,68099537,13654288,20181008/235950,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419910,68099537,13654288,20181008/235819,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419911,68099546,13654297,20181008/235450,0,11,4,NaN,68096361,13655979,0,0,0,0,44030005,20181008/235959
1419912,68099537,13654288,20181008/235650,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419913,68099564,13654327,20181008/234809,0,11,5,NaN,68096379,13656009,0,0,0,0,44030005,20181008/235959
1419914,68099537,13654288,20181008/235950,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419915,68099537,13654288,20181008/235920,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419916,68099537,13654288,20181008/235650,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419917,68099537,13654288,20181008/235819,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419918,68099537,13654288,20181008/235920,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419919,68099537,13654288,20181008/235950,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419920,68099546,13654297,20181008/235450,0,11,4,NaN,68096361,13655979,0,0,0,0,44030005,20181008/235959
1419921,68099564,13654327,20181008/234809,0,11,5,NaN,68096379,13656009,0,0,0,0,44030005,20181008/235959
1419922,68099537,13654288,20181008/235819,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419923,68099537,13654288,20181008/235650,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419924,68099564,13654327,20181008/234809,0,11,5,NaN,68096379,13656009,0,0,0,0,44030005,20181008/235959
1419925,68099546,13654297,20181008/235450,0,11,4,NaN,68096361,13655979,0,0,0,0,44030005,20181008/235959
1419926,68099537,13654288,20181008/235920,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419927,68099537,13654288,20181008/235950,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419928,68099537,13654288,20181008/235650,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419929,68099537,13654288,20181008/235819,0,11,4,NaN,68096352,13655970,0,0,0,0,44030005,20181008/235959
1419930,68099546,13654297,20181008/235450,0,11,4,NaN,68096361,13655979,0,0,0,0,44030005,20181008/235959
1419931,68099564,13654327,20181008/234809,0,11,5,NaN,68096379,13656009,0,0,0,0,44030005,20181008/235959

### 确定到达闸口的时间 -- y

In [21]:
a_longitude = 68555286
a_latitude = 13540796

a_gps_longitude = 0
a_gps_latitude = 0

b_longitude = 68564118
b_latitude = 13545477

b_gps_longitude = 0
b_gps_longitude = 0

a_long_error=[]
b_long_error=[]

for i in range(1,11):
    a_long_error.append(a_longitude+i)
    a_long_error.append(a_longitude-i)
    
for i in range(1,11):
    b_long_error.append(b_longitude+i)
    b_long_error.append(b_longitude-i)
    
print(a_long_error)
print(b_long_error)


def time_to_port_a():
    for i in data_file['longitude']:
        if int(i) in a_long_error:
            print("piya_a")
        else:
            pass

def time_to_port_b():
    for i in data_file['longitude']:
        if int(i) in b_long_error:
            print("piya_b")
            return data_file['longitude']
        else:
            pass
        
time_to_port_a()
time_to_port_b()

[68555287, 68555285, 68555288, 68555284, 68555289, 68555283, 68555290, 68555282, 68555291, 68555281, 68555292, 68555280, 68555293, 68555279, 68555294, 68555278, 68555295, 68555277, 68555296, 68555276]
[68564119, 68564117, 68564120, 68564116, 68564121, 68564115, 68564122, 68564114, 68564123, 68564113, 68564124, 68564112, 68564125, 68564111, 68564126, 68564110, 68564127, 68564109, 68564128, 68564108]
piya_b

### 时间日期提取

In [13]:
def date_time_GPS_extracor(source_data):
    GPS_time_temp = pd.to_datetime(source_data['GPS_time'],format='%Y%m%d/%H%M%S')
    Receive_time_temp = pd.to_datetime(source_data['received_time'],format='%Y%m%d/%H%M%S')
    print(temp)

print(data_file['GPS_time'])
date_time_extracor(data_file)

0          20181007/235513
1          20181007/235943
2          20181007/235513
3          20181007/235943
4          20181007/235513
5          20181007/235513
6          20181007/235943
7          20181007/235513
8          20181007/235943
9          20181007/235513
10         20181007/235943
11         20181007/235513
12         20181007/235943
13         20181007/235943
14         20181007/235513
15         20181007/235513
16         20181007/235513
17         20181007/235943
18         20181007/235943
19         20181007/235943
20         20181007/235943
21         20181007/235513
22         20181007/235513
23         20181007/235943
24         20181007/235513
25         20181007/235943
26         20181007/235943
27         20181007/235513
28         20181007/235943
29         20181007/235943
                ...
1419902    20181008/234809
1419903    20181008/235950
1419904    20181008/235650
1419905    20181008/235819
1419906    20181008/235450
1419907    20181008/234809
1419908    20181008/235920
1419909    20181008/235950
1419910    20181008/235819
1419911    20181008/235450
1419912    20181008/235650
1419913    20181008/234809
1419914    20181008/235950
1419915    20181008/235920
1419916    20181008/235650
1419917    20181008/235819
1419918    20181008/235920
1419919    20181008/235950
1419920    20181008/235450
1419921    20181008/234809
1419922    20181008/235819
1419923    20181008/235650
1419924    20181008/234809
1419925    20181008/235450
1419926    20181008/235920
1419927    20181008/235950
1419928    20181008/235650
1419929    20181008/235819
1419930    20181008/235450
1419931    20181008/234809
Name: GPS_time, Length: 1419932, dtype: object
0         2018-10-07 23:55:13
1         2018-10-07 23:59:43
2         2018-10-07 23:55:13
3         2018-10-07 23:59:43
4         2018-10-07 23:55:13
5         2018-10-07 23:55:13
6         2018-10-07 23:59:43
7         2018-10-07 23:55:13
8         2018-10-07 23:59:43
9         2018-10-07 23:55:13
10        2018-10-07 23:59:43
11        2018-10-07 23:55:13
12        2018-10-07 23:59:43
13        2018-10-07 23:59:43
14        2018-10-07 23:55:13
15        2018-10-07 23:55:13
16        2018-10-07 23:55:13
17        2018-10-07 23:59:43
18        2018-10-07 23:59:43
19        2018-10-07 23:59:43
20        2018-10-07 23:59:43
21        2018-10-07 23:55:13
22        2018-10-07 23:55:13
23        2018-10-07 23:59:43
24        2018-10-07 23:55:13
25        2018-10-07 23:59:43
26        2018-10-07 23:59:43
27        2018-10-07 23:55:13
28        2018-10-07 23:59:43
29        2018-10-07 23:59:43
                  ...
1419902   2018-10-08 23:48:09
1419903   2018-10-08 23:59:50
1419904   2018-10-08 23:56:50
1419905   2018-10-08 23:58:19
1419906   2018-10-08 23:54:50
1419907   2018-10-08 23:48:09
1419908   2018-10-08 23:59:20
1419909   2018-10-08 23:59:50
1419910   2018-10-08 23:58:19
1419911   2018-10-08 23:54:50
1419912   2018-10-08 23:56:50
1419913   2018-10-08 23:48:09
1419914   2018-10-08 23:59:50
1419915   2018-10-08 23:59:20
1419916   2018-10-08 23:56:50
1419917   2018-10-08 23:58:19
1419918   2018-10-08 23:59:20
1419919   2018-10-08 23:59:50
1419920   2018-10-08 23:54:50
1419921   2018-10-08 23:48:09
1419922   2018-10-08 23:58:19
1419923   2018-10-08 23:56:50
1419924   2018-10-08 23:48:09
1419925   2018-10-08 23:54:50
1419926   2018-10-08 23:59:20
1419927   2018-10-08 23:59:50
1419928   2018-10-08 23:56:50
1419929   2018-10-08 23:58:19
1419930   2018-10-08 23:54:50
1419931   2018-10-08 23:48:09
Name: GPS_time, Length: 1419932, dtype: datetime64[ns]

## 测试经纬度的准确性

In [9]:
print(data2["longitude"]/600000)
print(data2["latitude"]/600000)

# data["longitude"]/6000000 - data["GPS_long"]/6000000
# data["latitude"]/6000000 - data["GPS_lati"]/6000000

NameError: name 'data2' is not defined